doctype html 
html 
    head 
        title Footballer data 
    body 
        h1 #{name}
        p Author: #{author}
        p Genre: #{genre}
        p Rating ##{rating}
        p Sales: #{sales}
        